body {
	margin:0;
	font-size:1em;
	font-family:monospace;
}

header, footer {
	width:100%;
	position:fixed;
	color:#fff;
}
header {
	position:relative;
	text-align:center;
	background: linear-gradient(#000, #333);
}
footer {
	bottom:0;
	text-align:center;
	background-color:#000;
	padding:5px;
	z-index:10000000
}
footer p {
	margin:5px;
}
header h1 {
	padding:5px;
	margin:0;
}
header sub {
	font-size:0.6em;
}

#metamask {
	position:relative;
	width:100%;
	color:#fff;
	font-family:monospace;
}
#metamask p {
	margin:0px;
	padding:5px;
}

#info {
	position:relative;
	float:left;
	background-color:#eee;
	width:100%;
	min-width:335px;
}
#info hr {
	border:1px solid #ddd;
}
#info p {
	margin:0;
	padding:5px;
}

#pecera {
	position:relative;
	float:left;
	margin-top:20px;
	background-color:#fff;
	width:100%;
	min-width:360px;
	text-align:center;
	margin-bottom:100px;
}

#userAccount, #txHash, #contractAddress, #userAccount, #block, #balance, #network {
	font-family:monospace;
}

#feedButton {
	background-color:#09f;
	color:#fff;
	padding:5px;
}

#youtube {
	margin:10px;
}

a {
	color:#00f;
}
