body {
	margin:0;
	font-size:1em;
	font-family:arial;
}

header, footer {
	width:100%;
	position:fixed;
	color:#fff;
}
header {
	position:relative;
	text-align:center;
	background: linear-gradient(#000, #333);
}
footer {
	bottom:0;
	text-align:center;
	background-color:#000;
}
header h1 {
	padding:5px;
	margin:0;
}
header sub {
	font-size:0.6em;
}

#metamask {
	position:relative;
	width:100%;
	color:#fff;
	font-family:monospace;
}
#metamask p {
	margin:0px;
	padding:5px;
}

#container {
	position:relative;
	display:block;
	margin:30px auto;
	width:94%;
	background-color:#00e;
}

#info {
	position:relative;
	float:left;
	padding:10px;
	background-color:#eee;
	width:35%;
	border:1px solid #ddd;
	border-radius: 5px;
}
#info hr {
	border:1px solid #ddd;
}

#pecera {
	position:relative;
	float:right;
	background-color:#eee;
	width:60%;
	text-align:center;
	border:1px solid #ddd;
	border-radius: 5px;
}

#userAccount, #txHash, #contractAddress, #userAccount, #block, #balance, #network {
	font-family:monospace;
}

#feedButton {
	background-color:#09f;
	color:#fff;
	padding:5px;
}

#youtube {
	margin:10px;
}

a {
	color:#00f;
}
