body {
	margin:0;
	font-family:arial;
}

header {
	background-color:#000;
	color:#fff;
	text-align:center;
}
header h1 {
	padding:5px;
	margin:0;
}

#metamask {
	width:100%;
	color:#fff;
}
#metamask p {
	margin:0px;
	padding:5px;
}

.box {
	display:inline-block;
	margin:10px;
	padding:10px;
	width:100%;
	border:1px dotted #000;
	border-radius:5px;
	background-color:#07c;
	color:#fff;
	opacity:0.9;
}
.box a {
	font-family:monospace;
	color:#fff;
}

#info {
	position:relative;
	display:block;
	width:30%;
	float:left;
	text-align:center;
}

#pecera {
	position:relative;
	margin:50px auto;
	width:70%;
	display:block;
	float:left;
	text-align:center;
}

#acc, #txHash {
	font-family:monospace;
}

#feedButton {
	background-color:#09f;
	color:#fff;
	padding:5px;
}

footer {
	position:fixed;
	width:100%;
	bottom:0;
	text-align:center;
	background-color:#000;
	color:#fff;
}
